.slider{
    width: 95%;
    height: 400px;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    position: relative;
}
.box_place {
    position: absolute;
    left: 5%;
    top: 10px;
    width: 90%;
    height: 80%;
    overflow: hidden; 
    background-color: rgb(255, 228, 192);
}
.box {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: black;
}
.button{
    width: 3%;
    height: 80%;    
    top: 10px;
    position: absolute;
}
.left{
    left: 1%;
}
.right{
    right: 1%;
}